registry=https://registry.npmmirror.com
prefer-offline=true
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
network-concurrency=1
confirmModulesPurge=false
strict-peer-dependencies=false
package-import-method=copy
verify-deps-before-run=false
